@charset "utf-8";
/*animations eksempel*/

.firkant1{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    animation-name: movebox;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-delay: 1s;
}

@keyframes movebox{
    0%{
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    25%{
        transform: translateX(1200px)translateY(0px)rotate(90deg);
        background-color: deeppink; 
    }
    50%{
        transform: translateX(1200px)translateY(600px)rotate(180deg);
        background-color: green; 
    }
    75%{
        transform: translateX(0px)translateY(600px)rotate(270deg);
        background-color: yellow;
    }
    100%{
        transform: translateX(0px)translateY(0%) rotate(360deg);
    }
}